[Unit]
Description=PostgreSQL Database Server
Documentation=man:postgres(1)
Wants=network-online.target postgresql-initdb.service
After=network-online.target postgresql-initdb.service
Requires=postgresql.socket

[Service]
Type=notify
User=postgres
Group=postgres
Environment=PGDATA=/var/lib/postgresql/data
RuntimeDirectory=postgresql
RuntimeDirectoryMode=755
ExecStart=/usr/bin/postgres -D ${PGDATA} \
    -c listen_addresses=''
ExecReload=/usr/bin/kill -HUP ${MAINPID}
KillMode=mixed
KillSignal=SIGINT
OOMScoreAdjust=-500

# Additional security-related features
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
NoNewPrivileges=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
PrivateDevices=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
SystemCallArchitectures=native

[Install]
Also=postgresql.socket
WantedBy=multi-user.target
